<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Digitalize the usage of 'Bonus StampCards' " />
    <title>StampIt.at</title>
    @Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jquery")
	<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
	@RenderSection("scripts", required: false)
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				@Html.ActionLink("StampIt", "Index", "CompanyData",null,new { @class = "navbar-brand" })
            </div>
			
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Stammdaten <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>@Html.ActionLink("Firmendaten", "Index", "CompanyData", null, null, "Firmendaten", null, null)</li>
							<li>@Html.ActionLink("Filialen", "Index", "CompanyData", null, null, "Filialen", null, null)</li>
							<li>@Html.ActionLink("Products", "Index", "CompanyData", null, null, "Products", null, null)</li>
							<li>@Html.ActionLink("Users", "Index", "CompanyData", null, null, "Users", null, null)</li>
						</ul>
					</li>
					<li class="dropdown">						
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistik<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>@Html.ActionLink("Stempelkarten", "Index", "Statistic", null, null, "Stempelkarten", null, null)</li>
							<li>@Html.ActionLink("Umsatz", "Index", "Statistic", null, null, "Umsatz", null, null)</li>
							<li>@Html.ActionLink("Kunden", "Index", "Statistic", null, null, "Kunden", null, null)</li>
						</ul>
					</li>
                    <li>@Html.ActionLink("Kiosk Modus", "Index", "KioskMode")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
		
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - StampIt</p>
        </footer>
    </div>

	@RenderSection("scripts", required: false)
</body>
</html>
