@using Stampit.Webapp.Controllers
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Digitalize the usage of 'Bonus StampCards' " />
    <title>StampIt.at</title>
    @Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jquery")
	<script src="~/Scripts/bootstrap.min.js"></script>
	
</head>
<body>
@if (Request.IsAuthenticated)
{
	if (string.IsNullOrEmpty(Session["role"]?.ToString()) || Session["role"]?.ToString() == "None")
	{
		DependencyResolver.Current.GetService<AccountController>().SetLoginSessionState(User.Identity.GetUserName(), Session).Wait();
	}

    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("StampIt", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>

            <nav role="navigation" id="navbarCollapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
					@if (Session["role"].Equals("Manager") || Session["role"].Equals("Admin"))
					{
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
						<ul role="menu" class="dropdown-menu">
							<li>@Html.ActionLink("Company Data", "Index", "Profile", null, null, "CompanyData", null, null)</li>
							<li>@Html.ActionLink("Stores", "Index", "Profile", null, null, "Stores", null, null)</li>
							<li>@Html.ActionLink("Products", "Index", "Profile", null, null, "Products", null, null)</li>
							<li>@Html.ActionLink("Users", "Index", "Profile", null, null, "Users", null, null)</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistics<b class="caret"></b></a>
						<ul role="menu" class="dropdown-menu">
							<li>@Html.ActionLink("StampCards", "Index", "Statistic", null, null, "Stempelkarten", null, null)</li>
							<li>@Html.ActionLink("Sales", "Index", "Statistic", null, null, "Umsatz", null, null)</li>
							<li>@Html.ActionLink("Customer", "Index", "Statistic", null, null, "Kunden", null, null)</li>
						</ul>
					</li>
					}
					@if (Session["role"].Equals("Manager") || Session["role"].Equals("Admin") || Session["role"].Equals("KioskUser"))
					{
						<li>@Html.ActionLink("Kiosk", "Index", "KioskMode")</li>
					}
					@if (Session["role"].Equals("Admin"))
					{
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
							<ul role="menu" class="dropdown-menu">
								<li>@Html.ActionLink("Select Company", "SelectCompany", "Admin")</li>
								<li>@Html.ActionLink("Create Company", "CreateCompany", "Admin")</li>
								<li>@Html.ActionLink("Admin Users", "AdminUser", "Admin")</li>
							</ul>
						</li>
					}
				</ul>
				<div style="margin-right:25px">
					@Html.Partial("_LoginPartial")
				</div>
			</nav>
    </div>
}
else
{
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("StampIt", "Index", "Home", null, new { @class = "navbar-brand" })
		</div>
		<div style="margin-right:25px">
			@Html.Partial("_LoginPartial")
		</div>
		</div>
		}
		<div class="container body-content">

			@RenderBody()
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - StampIt</p>
			</footer>
		</div>

		@RenderSection("scripts", required: false)
</body>
</html>
