@using Stampit.CommonType;
@model Stampit.Entity.Company

@using (Html.BeginForm("Save", "CompanyData", FormMethod.Post, new { id = "submitForm" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(m => m.Id)

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<img src="@($"data:image/png;base64,{Model.Blob.Content.ToBase64()}")" alt="Logo" />
			</div>
			<input id="inputFile" type="file">
		</div>
		<br />
		<div class="form-group">
			@Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ContactAddress, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ContactAddress, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ContactAddress, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.Description)
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" id="btnSave" value="Save">Save</button></div>
		</div>
	</div>
}

